ALTER TABLE users DISABLE ROW LEVEL SECURITY;

INSERT INTO users (id, email, full_name, role) 
SELECT id, email, raw_user_meta_data ->> 'full_name', 'admin' 
FROM auth.users 
WHERE id = '1412f9f3-c0b1-4bbe-bd9e-a5a5eb232f2f';

ALTER TABLE users ENABLE ROW LEVEL SECURITY;
