ALTER TABLE users ENABLE ROW LEVEL SECURITY;

DROP POLICY "Users can insert their own profile" ON users;
DROP POLICY "Users can update their own profile" ON users;
DROP POLICY "Users can view their own profile" ON users;

CREATE POLICY "Users can insert their own profile" ON users
  FOR INSERT TO authenticated WITH CHECK (auth.uid() = id);

CREATE POLICY "Users can update their own profile" ON users
  FOR UPDATE TO authenticated USING (auth.uid() = id);

CREATE POLICY "Users can view their own profile" ON users
  FOR SELECT TO authenticated USING (auth.uid() = id);

CREATE POLICY "Admins can manage all users" ON users
  FOR ALL TO authenticated USING (
    (auth.jwt() -> 'app_metadata' ->> 'role')::text = 'admin'
  );
