-- ===========================================
-- VERIFICATION QUERIES
-- Check if subscription system is properly set up
-- ===========================================

-- Check if subscription plans were created
SELECT name, display_name, price_monthly, currency FROM subscription_plans ORDER BY price_monthly;

-- Check if functions were created
SELECT proname, pg_get_function_identity_arguments(oid) as args
FROM pg_proc
WHERE proname IN ('has_feature_access', 'get_user_subscription', 'get_current_usage')
ORDER BY proname;

-- Check if tables were created
SELECT tablename
FROM pg_tables
WHERE tablename IN ('subscription_plans', 'user_subscriptions', 'subscription_payments', 'feature_usage')
ORDER BY tablename;
